.contentEditable{
  height: 320px;
  width: 100%;
  padding: 16px 16px;
  border: 1px solid #7B7f93;
  border-radius: 12px;
}

.placeholder{
  position: absolute;
  top: 16px;
  padding-left: 16px;
}
